<div class="home-container">
    <header class="home-header">
      <h1 class="home-title">Welcome to CRM</h1>
    </header>
    <main class="home-content">
        <div>
            <p>Your ultimate solution for Customer Relationship Management.</p>
            <p>Register yourself to manage your <b>Sales</b>, <b>Marketing</b>, and <b>Customer Service</b> Operations.</p>
        </div>
      <div class="home-actions">
        <a routerLink="/register" class="home-button primary">Register</a>
        <a routerLink="/login" class="home-button secondary">Login</a>
      </div>
    </main>
    <footer class="home-footer">
      <p>&copy; 2025 CRM. All rights reserved.</p>
    </footer>
  </div>
  